@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

html {
  --bg: #242424;
  --bg-darker: #202020;
  --bg-lighter: #363636;
  --text: #ececec;
  --text-faded: #808080;
  --primary: #543cda;
  --secondary: #5c8fff;
  --accent: #1dd18c;
  --heading: clamp(2.25rem, -0.5625rem + 9vw, 4.5rem);
  --mobile: 768px;
  --accent-font: "Merriweather", serif;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.accent {
  color: var(--accent);
}
